.overlay {
  position: absolute;
  display: flex;
  background: #f7f7f7;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.ao-animation-container {
  width: 100%;
  height: 200px;
}
