main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	align-self: stretch;
}

.specs-main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 0 0;
	align-self: stretch;
	gap: 80px;
	margin-top: 100px;
	margin-bottom: 70px;
	width: 100%;
}

.text-content-wrapper {
	display: flex;
	max-width: 700px;
	gap: 32px;
	flex-direction: column;
	width: 100%;
	transition: max-width 1s;
}

.text-content-wrapper h1 {
	font-size: clamp(20px, 3.5vw, 36px);
}

.diagram {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}

@media only screen and (max-width: 1000px) {
	.text-content-wrapper {
		max-width: 500px;
	}
}

@media only screen and (max-width: 800px) {
	.text-content-wrapper {
		max-width: 400px;
	}
}

@media only screen and (max-width: 400px) {
	.text-content-wrapper {
		max-width: 365px;
	}
}
