main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	align-self: stretch;
	width: 100%;
}

.home-main-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1 0 0;
	align-self: stretch;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
}

.home-main-wrapper canvas {
	position: fixed;
	z-index: 1;
	width: 100%;
	transition: transform 3s ease-in-out;
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.7;
	}
}

.text-hero-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: center;
}

.content-hero-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	position: relative;
	z-index: 2;
}

.button-wrapper {
	display: flex;
	flex-direction: row;
}

@keyframes backgroundTransition {
	0% {
		background-color: var(--background-color);
	}

	20% {
		background-color: var(--background-color-2);
	}

	40% {
		background-color: var(--background-color-3);
	}

	60% {
		background-color: var(--background-color-4);
	}

	80% {
		background-color: var(--background-color-5);
	}

	100% {
		background-color: var(--background-color);
	}
}

@property --gradient-angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

.button-wrapper button {
	position: relative;
	--rotate-border-1: rgba(0, 0, 0, 0.16);
	--rotate-border-2: #18a32f;
	--rotate-border-3: #083e11;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: -0.1px;
	text-transform: uppercase;
	font-size: 'clamp(8px, 8vw, 12px';
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: all 300ms;

	border: 1px solid #18a32f;
	border-radius: 12px;
	color: white;
}

@keyframes rotation {
	0% {
		--gradient-angle: 0deg;
	}

	100% {
		--gradient-angle: 360deg;
	}
}

.button-wrapper .primary {
	background: #000502a1;
}

.button-wrapper .secondary {
	background: #07022ca1;
}

.button-wrapper button::before,
.button-wrapper button::after {
	content: '';
	position: absolute;
	inset: 0;
	background: conic-gradient(
		from var(--gradient-angle),
		var(--rotate-border-1),
		var(--rotate-border-2),
		var(--rotate-border-3)
	);
	border-radius: inherit;
	animation: rotation 30s linear infinite;
	z-index: -1;
}

.button-wrapper button::after {
	filter: blur(3.5rem);
}

.button-wrapper button:hover {
	font-weight: 600;
	padding-right: 120px;
	padding-left: 120px;
	background: #c9c9c917;
}

.main-heading {
	display: flex;
	flex-direction: column;

	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	justify-content: center;
	color: #fff;

	overflow: hidden;
}

.ao-wrapper-hero {
	width: 100%;
}

.ao-wrapper-hero-content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 24px;
}

.sub-heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 298px;
	background: var(--background-color);
	border-radius: 100px;
	padding: 2px;
}

.background-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	filter: grayscale(1) brightness(10%);
}

.text-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	-webkit-mask-image: radial-gradient(circle, white 50%, transparent 50%);
	mask-image: radial-gradient(circle, white 50%, transparent 50%);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: 0 0;
	mask-position: 0 0;
	transition: mask-position 0.2s;
	pointer-events: none;
}

.text-layer p {
	mix-blend-mode: multiply;
	color: white;
	opacity: 10%;
}

@media only screen and (max-width: 1000px) {
	.button-wrapper button {
		padding-right: 50px;
		padding-left: 50px;
	}
}
