main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	align-self: stretch;
	width: 100%;
}

.main-wrapper {
	width: 100%;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

.main-wrapper > section {
	scroll-snap-align: start;
	z-index: 10;
}

.main-wrapper h1 {
	font-size: clamp(24px, 5vw, 32px);
}

.main-wrapper h2 {
	font-size: clamp(10px, 3vw, 22px);
}

.main-wrapper h3 {
	font-size: clamp(12px, 2vw, 16px);
}

.hero-main-wrapper {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	flex: 1 0 0;
	align-self: stretch;
	height: 100vh;
	justify-content: center;
}

.hero-main-wrapper canvas {
	position: absolute;
	z-index: 1;
	transition: transform 3s ease-in-out;
	animation: pulse 3s infinite;
	width: 100%;
}

.pie-wrapper {
	height: 50vh;
}

.pie-container {
	margin: 50px 0;
}

.digit {
	margin-left: '20px';
}

@media only screen and (max-width: 600px) {
	aside {
		display: none;
	}

	.hero-main-wrapper canvas {
		width: 50%;
	}
}

@media only screen and (max-width: 900px) {
	.digit {
		margin-left: '-12px';
	}

	.pie-wrapper {
		height: 30vh;
	}

	.pie-container {
		margin: 25px 0;
	}
}

.full-section {
	display: flex;
	height: 100vh;
	width: 100%;
	flex-direction: column;
	align-items: center;
	flex: 1 0 0;
	align-self: stretch;
	padding: 140px 0;
	justify-content: center;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.7;
	}
}

@keyframes alt-pulse {
	0%,
	100% {
		opacity: 0.6;
	}

	50% {
		opacity: 0.2;
	}
}

.count-up-num {
	font-variant-numeric: tabular-nums;
}

.text-hero-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: center;
}

.content-hero-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	position: relative;
	z-index: 2;
}

.button-wrapper {
	display: flex;
	flex-direction: row;
	gap: 10px;
	background: var(--background-color);
	border: 1px solid black;
}

.background-transition:hover {
	transition: background 500ms;
	animation: backgroundTransition 2s ease-in-out infinite;
}

.background-transition:hover h3 {
	color: var(--terminal-blue);
	transition: color ease-in-out 300ms;
}

.content-ecosystem-wrapper {
	max-width: 1000px;
	width: 100%;
}

.content-build-wrapper {
	max-width: 1000px;
	width: 100%;
}

.content-community-wrapper {
	max-width: 1200px;
	width: 100%;
}

.content-permaweb-wrapper {
	max-width: 1200px;
	width: 100%;
}

.explore-wrapper {
	z-index: 2;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 80px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: -0.1px;
	text-transform: uppercase;
	font-size: clamp(10px, 2vw, 14px);
}

.floating {
	animation: floating 1s linear infinite;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}

	20% {
		transform: translate(0, 4px);
	}

	100% {
		transform: translate(0, 0px);
	}
}

@keyframes backgroundTransition {
	0% {
		background-color: var(--background-color);
	}

	20% {
		background-color: var(--background-color-2);
	}

	40% {
		background-color: var(--background-color-3);
	}

	60% {
		background-color: var(--background-color-4);
	}

	80% {
		background-color: var(--background-color-5);
	}

	100% {
		background-color: var(--background-color);
	}
}

.button-wrapper button {
	font-family: 'Roboto Mono', monospace;
	letter-spacing: -0.1px;
	text-transform: uppercase;
	font-size: clamp(10px, 1.5vw, 12px);
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 3px 3px black, 6px 6px gray, 9px 9px var(--triangle-color);
	transition: all 100ms;
}

.button-wrapper button:hover {
	background: var(--triangle-color);
	font-weight: 600;
	transition: background 500ms;
	animation: backgroundTransition 6s ease infinite;
}

.main-heading {
	display: flex;
	flex-direction: column;
	background: rgb(255 255 255 / 85%);
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(2px);
	text-align: center;
}

.ao-wrapper-hero {
	width: 100%;
}

.ao-wrapper-hero-content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 24px;
}

.sub-heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 298px;
	background: var(--background-color);
	border-radius: 100px;
	padding: 2px;
}
