.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.glitch {
  position: relative;
  margin: 0 auto;
}

.glitch:hover {
  opacity: 50%;
}

.glitch:hover::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 black;
  top: 0;
  color: black;
  background-color: var(background-color);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: animate-glitch 300ms linear alternate-reverse;
}

.glitch:hover::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 black;
  top: 0;
  color: black;
  background-color: var(background-color);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: animate-glitch 100ms linear alternate-reverse;
}

@keyframes animate-glitch {
  0% {
    clip: rect(99px, 9999px, 45px, 0);
  }
  5% {
    clip: rect(7px, 9999px, 49px, 0);
  }
  10% {
    clip: rect(52px, 9999px, 79px, 0);
  }
  15% {
    clip: rect(51px, 9999px, 42px, 0);
  }
  20% {
    clip: rect(37px, 9999px, 43px, 0);
  }
  25% {
    clip: rect(38px, 9999px, 9px, 0);
  }
  30% {
    clip: rect(34px, 9999px, 93px, 0);
  }
  35% {
    clip: rect(18px, 9999px, 84px, 0);
  }

  45% {
    clip: rect(15px, 9999px, 4px, 0);
  }
  50% {
    clip: rect(14px, 9999px, 10px, 0);
  }
  55% {
    clip: rect(4px, 9999px, 75px, 0);
  }
  60% {
    clip: rect(17px, 9999px, 55px, 0);
  }

  70% {
    clip: rect(39px, 9999px, 84px, 0);
  }

  80% {
    clip: rect(45px, 9999px, 25px, 0);
  }
  85% {
    clip: rect(60px, 9999px, 100px, 0);
  }
  90% {
    clip: rect(5px, 9999px, 6px, 0);
  }
  95% {
    clip: rect(49px, 9999px, 57px, 0);
  }
  100% {
    clip: rect(54px, 9999px, 90px, 0);
  }
}
