@font-face {
  font-family: 'General Sans';
  src: url('fonts/GeneralSans-Variable.woff2') format('woff2'),
    url('fonts/GeneralSans-Variable.woff') format('woff'),
    url('fonts/GeneralSans-Variable.ttf') format('truetype'),
    url('fonts/GeneralSans-Variable.eot') format('embedded-opentype');
}

#root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

:root {
  font-family: 'General Sans', sans-serif, 'Roboto Mono Variable', monospace;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: light dark;
  color: #000;
  background-color: #f7f7f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --container-padding: 100px;
  --header-height: 116px;
}

a {
  font-weight: 200;
  color: #131313;
  text-decoration: inherit;
  transition: all 150ms ease-in-out;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-family: 'General Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

h2 {
  font-family: 'General Sans';
  font-size: 12px;
  font-style: normal;

  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.18px;
}

h4 {
  font-family: 'Roboto Mono Variable';
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.28px;
  margin: 0;
}

p {
  font-family: 'General Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 160.5%; /* 19.26px */
  letter-spacing: 0.6px;
  margin: 0;
}

span {
  color: #f00;
  font-family: 'Roboto Mono Variable';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: normal;
  cursor: pointer;
  transition: all 300ms;
}
