.explore {
	display: flex;
	width: 100%;
	justify-content: center;

	flex-shrink: 0;
	align-self: stretch;
}

.explore section {
	padding-top: 100px;
}

section p {
	margin-bottom: 20px;
}

.wrapper-title {
	font-size: 'clamp(16px, 2vw, 18px)';
	margin: '0';
	font-family: 'Roboto Mono';
	text-transform: uppercase;
}

.explore-main-wrapper {
	display: flex;
	justify-content: center;

	flex: 1 0 0;
	align-self: stretch;
	gap: 80px;
	width: 100%;
}

.explore-content-wrapper {
	position: relative;
	display: flex;
	max-width: 700px;
	flex-direction: column;
	width: 100%;
	transition: max-width 1s;
	padding-inline: 50px;
}

.explore-content-wrapper p {
	font-family: 'DM Sans';

	margin-bottom: 40px;
	font-size: clamp(12px, 2.5vw, 15px);
}

.explore-content-wrapper h1 {
	font-family: 'DM Sans';
	font-size: clamp(24px, 5vw, 32px);
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 1;
	margin: 0;
}

.explore-content-wrapper h2 {
	font-family: 'Roboto Mono';
	font-size: clamp(12px, 2.5vw, 24px);
	text-transform: uppercase;
	margin-bottom: 40px;
}

.project-wrapper {
	width: 100%;
	height: 175px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	border: 1px solid rgb(249, 249, 249);
	padding-inline: 15px;
	padding-block: 10px;
	gap: 30px;
	transition: all 300ms;
	position: relative;
	justify-content: space-between;
	box-shadow: var(--shadow);
}

.multiple-project-wrapper {
	width: 100%;
	height: 190px;
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	border: 1px solid rgb(249, 249, 249);
	padding-inline: 10px;
	padding-block: 10px;
	gap: 30px;
	transition: all 200ms;
	position: relative;
	justify-content: space-between;
}

.project-wrapper p {
	margin: 0;
}

.multiple-project-wrapper p {
	margin: 0;
}

.diagram {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}

.wallet-wrapper:hover {
	opacity: 0.5;
}

.project-container {
	display: flex;
	width: 100%;
	gap: 15px;
}

.divider {
	height: 1px;
	width: 100%;
	margin-block: 7vh;
}

@media only screen and (max-width: 1500px) {
	.text-content-wrapper {
		max-width: 450px;
	}
}

@media only screen and (max-width: 1200px) {
	.project-wrapper {
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.text-content-wrapper {
		max-width: 400px;
	}

	.project-container {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 700px) {
	.divider {
		margin-block: 3vh;
	}

	.intro {
		height: fit-content;
	}

	.intro h1 {
		margin-bottom: 0px;
	}
}

@media only screen and (max-width: 400px) {
	.text-content-wrapper {
		max-width: 365px;
	}

	#intro {
		height: 100%;
	}

	#intro {
		height: 100%;
	}
}
