header {
  position: fixed;
  top: 0;
  display: flex;
  height: 40px;
  width: 100%;
  background-color: var(--nav-background-color);
  overflow: hidden;
  z-index: 1000;
  border-bottom: 0.25px solid eaeaea;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-left: 32px;
  padding-right: 32px;
}

.nav-left {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.nav-left a {
  display: flex;
}
.ao-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.ao-wrapper:hover {
  opacity: 75%;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.nav-buttons button {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  font-size: (8px, 5vw, 12px);
}

.main-cta-wrapper {
  position: relative;
}

.main-cta-button button {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  font-size: (8px, 5vw, 12px);
}
