main {
  display: flex;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.main-wrapper {
  display: flex;
  padding: 60px 40px;

  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  gap: 40px;
}

.ao-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

.text-content-wrapper {
  display: flex;
  width: 380px;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
}
