main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.specs-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  gap: 80px;
  margin-top: 140px;
}

.text-content-wrapper {
  display: flex;
  max-width: 665px;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
}
